"*":
  core:
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Monaco for Powerline"
    fontSize: 12
    showIndentGuide: true
  "exception-reporting":
    userId: "831d458e-db16-3a96-6cba-a40a5635b5e7"
  react:
    enabledForAllJavascriptFiles: true
  "terminal-plus":
    ansiColors:
      normal:
        black:
          red: 0
          green: 40
          blue: 49
          alpha: 1
        blue:
          red: 33
          green: 118
          blue: 199
          alpha: 1
        cyan:
          red: 37
          green: 146
          blue: 134
          alpha: 1
        green:
          red: 115
          green: 138
          blue: 5
          alpha: 1
        magenta:
          red: 198
          green: 28
          blue: 111
          alpha: 1
        red:
          red: 209
          green: 28
          blue: 36
          alpha: 1
        white:
          red: 234
          green: 227
          blue: 203
          alpha: 1
        yellow:
          red: 165
          green: 119
          blue: 6
          alpha: 1
      zBright:
        brightBlack:
          red: 130
          green: 147
          blue: 149
          alpha: 1
        brightBlue:
          red: 112
          green: 130
          blue: 132
          alpha: 1
        brightCyan:
          red: 129
          green: 144
          blue: 144
          alpha: 1
        brightGreen:
          red: 71
          green: 91
          blue: 98
          alpha: 1
        brightMagenta:
          red: 89
          green: 86
          blue: 186
          alpha: 1
        brightRed:
          red: 189
          green: 54
          blue: 19
          alpha: 1
        brightWhite:
          red: 252
          green: 244
          blue: 220
          alpha: 1
        brightYellow:
          red: 83
          green: 104
          blue: 112
          alpha: 1
    core: {}
    style:
      fontFamily: "Monaco for Powerline"
      fontSize: "12"
      theme: "dracula"
    toggles:
      autoClose: true
  welcome:
    showOnStartup: false
