/.bundle
/.librarian
/.projects
/.snapshot
/.tmp
/bin
/config/local.rb
/log
/tmp
/shared/*
!/shared/README.md
/vendor/gems/
/vendor/cache/
/vendor/puppet/cache/
/vendor/puppet/source/
/modules/people/manifests/
/modules/projects/manifests/
/Puppetfile.local
/Puppetfile.lock
