<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bitwarden" />
  <package id="calibre" />
  <package id="FiraCode" />
  <package id="gimp" />
  <package id="GoogleChrome" />
  <package id="hyper" />
  <package id="licecap" />
  <package id="nvm" />
  <package id="pasteboard" />
  <package id="vscode" />
  <package id="wsl" />
</packages>